@using Models.Common;
<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Freecy - Kết nối Freelancer và Doanh Nghiệp</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Themesdesign" />

    <link rel="shortcut icon" href="~/assets2/images/logo-f.ico">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/assets2/css/bootstrap.min.css" type="text/css">

    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" href="~/assets2/css/materialdesignicons.min.css" />

    <link rel="stylesheet" type="text/css" href="~/assets2/css/fontawesome.css" />

    <!-- selectize css -->
    <link rel="stylesheet" type="text/css" href="~/assets2/css/selectize.css" />
    <link rel="stylesheet" type="text/css" href="~/assets2/css/nice-select.css" />
    <!--Slider-->
    <link rel="stylesheet" href="~/assets2/css/owl.carousel.css" />
    <link rel="stylesheet" href="~/assets2/css/owl.theme.css" />
    <link rel="stylesheet" href="~/assets2/css/owl.transitions.css" />

    <!-- Custom  Css -->
    <link rel="stylesheet" type="text/css" href="~/assets2/css/style.css" />

    <link rel="stylesheet" type="text/css" href="~/assets2/css/fontawesome.css" />
    <link rel="stylesheet" type="text/css" href="~/assets2/css/style2.css" />


    


</head>

<body>

    <!-- Loader -->
    <div id="preloader">
        <div id="status">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div>
    <!-- Loader -->
    <!-- Navigation Bar-->
    <header id="topnav" class="defaultscroll scroll-active">
        <!-- Tagline STart -->
        <div class="tagline">
            <div class="container">
                <div class="float-left">
                    <div class="phone">
                        <i class="mdi mdi-phone-classic"></i> +084 658 7911
                    </div>
                    <div class="email">
                        <a href="#">
                            <i class="mdi mdi-email"></i> freecy@gmail.com
                        </a>
                    </div>
                </div>
                <div class="float-right">

                    <ul class="topbar-list list-unstyled d-flex" style="margin: 15px 0px;">
                        <div class="dropdown show">
                            @{
                                var session = (UserLogin)Session[Models.Common.CommonConstant.USER_SESSION];
                            }
                            @if (session == null)
                            {
                                <a href="/User/Login" class=""><i class="mdi mdi-account"></i> Login</a>
                            }
                            else
                            {
                                <a class="" href="javascript:void(0);" id="dropdownMenuLink" data-toggle="dropdown">
                                    <i class="mdi mdi-account mr-2"></i>@session.UserName
                                </a>
                                <div class="dropdown-menu">
                                    <a href="/User/ViewProfile/@session.ID_User" class="dropdown-item" style="color:black"
                                       href="#">My Profile</a>
                                    <a class="dropdown-item" style="color:black" href="/Product/Index">My Product</a>
                                    <a class="dropdown-item" style="color:black" href="/order-da-nhan/">Order List</a>
                                    <a class="dropdown-item" style="color:black" href="/Order/SendOrders">Sent Orders</a>
                                    <a class="dropdown-item" style="color:black" href="/User/Logout">Logout</a>
                                </div>
                            }
                        </div>
                        

                    </ul>

                </div>

                <div class="clearfix"></div>
            </div>
        </div>
        <!-- Tagline End -->
        <!-- Menu Start -->
        <div class="container">
            <!-- Logo container-->
            <div>
                <a href="/Home/Index" class="logo">
                    <img src="~/assets2/images/logo-light.png" alt="" class="logo-light" height="18" />
                    <img src="~/assets2/images/logo-dark.png" alt="" class="logo-dark" height="18" />
                </a>
            </div>
            <div class="buy-button">
                <a href="/Product/Create" class="btn btn-primary"><i class="mdi mdi-cloud-upload"></i> Post a Job</a>
            </div>
            <!--end login button-->
            <!-- End Logo container-->
            <div class="menu-extras">
                <div class="menu-item">
                    <!-- Mobile menu toggle-->
                    <a class="navbar-toggle">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                    <!-- End mobile menu toggle-->
                </div>
            </div>

            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu">
                    <li><a href="/Home/Index">Home</a></li>
                    <li>
                        <a href="/Home/ListProduct2">Jobs</a><span class="menu-arrow"></span>
                    </li>
                    <li><a href="/User/ListUser">Candidates</a></li>
                </ul>
                <!--end navigation menu-->
            </div>
            <!--end navigation-->
        </div>
        <!--end container-->
        <!--end end-->
    </header>

    <!--end header-->
    <!-- Navbar End -->
    @RenderBody()
    <!-- subscribe start -->
    <section class="section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5">
                    <div class="float-left position-relative notification-icon mr-2">
                        <i class="mdi mdi-bell-outline text-primary"></i>
                        <span class="badge badge-pill badge-danger">1</span>
                    </div>
                    <h5 class="mt-2 mb-0">Your Job Notification</h5>
                </div>
                <div class="col-lg-8 col-md-7 mt-4 mt-sm-0">
                    <form>
                        <div class="form-group mb-0">
                            <div class="input-group mb-0">
                                <input name="email" id="email" type="email" class="form-control"
                                       placeholder="Your email :" required="" aria-describedby="newssubscribebtn" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary submitBnt" type="submit" id="newssubscribebtn">
                                        Subscribe
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- subscribe end -->
    <!-- footer start -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                    <a href="~/assets2/javascript:void(0)"><img src="~/assets2/images/logo-light.png" height="20" alt=""></a>
                    <p class="mt-4">
                        At vero eos et accusamus et iusto odio dignissim os ducimus qui blanditiis
                        praesentium
                    </p>
                    <ul class="social-icon social list-inline mb-0">
                        <li class="list-inline-item">
                            <a href="~/assets2/#" class="rounded"><i class="mdi mdi-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="~/assets2/#" class="rounded"><i class="mdi mdi-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="~/assets2/#" class="rounded"><i class="mdi mdi-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="~/assets2/#" class="rounded"><i class="mdi mdi-google"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <p class="text-white mb-4 footer-list-title">Company</p>
                    <ul class="list-unstyled footer-list">
                        <li><a href="~/assets2/#" class="text-foot"><i class="mdi mdi-chevron-right"></i> About Us</a></li>
                        <li><a href="~/assets2/#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Media & Press</a></li>
                        <li><a href="~/assets2/#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Career</a></li>
                        <li><a href="~/assets2/#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Blog</a></li>
                        <li><a href="~/assets2/#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Pricing</a></li>
                        <li><a href="~/assets2/#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Marketing</a></li>
                        <li><a href="~/assets2/#" class="text-foot"><i class="mdi mdi-chevron-right"></i> CEOs </a></li>
                        <li><a href="~/assets2/#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Agencies</a></li>
                        <li><a href="~/assets2/#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Our Apps</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <p class="text-white mb-4 footer-list-title">Resources</p>
                    <ul class="list-unstyled footer-list">
                        <li><a href="~/assets2/#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Support</a></li>
                        <li><a href="~/assets2/#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Privacy Policy</a></li>
                        <li><a href="~/assets2/#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Terms</a></li>
                        <li><a href="~/assets2/#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Accounting </a></li>
                        <li><a href="~/assets2/#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Billing</a></li>
                        <li><a href="~/assets2/#" class="text-foot"><i class="mdi mdi-chevron-right"></i> F.A.Q.</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <p class="text-white mb-4 footer-list-title f-17">Business Hours</p>
                    <ul class="list-unstyled text-foot mt-4 mb-0">
                        <li>Monday - Friday : 9:00 to 17:00</li>
                        <li class="mt-2">Saturday : 10:00 to 15:00</li>
                        <li class="mt-2">Sunday : Day Off (Holiday)</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
    <hr>
    <footer class="footer footer-bar">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="">
                        <p class="mb-0">
                            © 2019 -2020 Freecy. Design with <i class="mdi mdi-heart text-danger"></i> by
                            banhmysuawx.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--end container-->
    </footer>
    <!--end footer-->
    <!-- Footer End -->
    <!-- Back to top -->
    <a href="~/assets2/#" class="back-to-top rounded text-center" id="back-to-top">
        <i class="mdi mdi-chevron-up d-block"> </i>
    </a>
    <!-- Back to top -->
    <!-- javascript -->
    <script src="~/assets2/js/jquery.min.js"></script>
    <script src="~/assets2/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets2/js/jquery.easing.min.js"></script>
    <script src="~/assets2/js/plugins.js"></script>

    <!-- selectize js -->
    <script src="~/assets2/js/selectize.min.js"></script>
    <script src="j~/assets2/s/jquery.nice-select.min.js"></script>

    <script src="~/assets2/js/owl.carousel.min.js"></script>
    <script src="~/assets2/js/counter.int.js"></script>

    <script src="~/assets2/js/app.js"></script>
    <script src="~/assets2/js/home.js"></script>
    @RenderSection("jsFooter", required: false)
    
</body>

</html>
